body {
  font-family: 'Heebo', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

/* Navbar */
.navbar {
  background-color: #081849 !important;
}

.nav-item {
    margin-right: 5vw;
}

.nav-item:hover {
    color: white;
}
.navbar-brand {
  font-weight: 800;
}

/* Hero */
.hero {
  background: linear-gradient(135deg, #ae69ec, #ae69ec);
  color: white;
  padding: 80px 20px;
  border-radius: 0 0 30px 30px;
}

/* כפתורים */
.btn-primary {
  background-color: #ae69ec;
  border: none;
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #ae69ec;
  border-color: #ae69ec;
}

.btn-success {
  background-color: #22c55e;
  border: none;
}

/* כרטיסים */
.card {
  border: none;
  border-radius: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* כותרות */
h1, h2, h3 {
  font-weight: 800;
}

/* Footer */
footer {
  background-color: #1e293b;
  color: white;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

.welcome {
    padding: 1vw;
    background-color: #fbe4d8;
}

.welcome-text {
    padding: 6vw;
}
.welcome-img{
    max-width: 80vw;
}
img {
    max-width: 80vw;

}
.my_services {
    padding: 5vw;

}

.card {
    margin: 2vw;
}

/* //#885daf; */
.to_sum{
    background-color: #1e293b ;
    border-color: #1e293b;
    color: white;
}
